Pathfinder/pathfinder/
Pathfinder/pathfinder_post_build.sh
Pathfinder/pathfinder_pre_build.sh
Pathfinder/dist/
DSH/dist/
TAGS

*~
*.swp
*#
cabal.sandbox.config
.cabal-sandbox
dist
*.plan
*.pdf
*.shape
*.sql
